#header {
    width: 100%;
    height: auto;
    background-color: #0f1230;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 15px 0;
}

.logo__text {
    background-image: linear-gradient(to right, #ffc400, #feb47b);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 700;
}

.search__image, .cart__image, .user__image, .menu__image {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(100%);
}

/* Tìm Kiếm */
.header__search {
    width: 100%;
    height: auto;
}

.header__input--search {
    width: 100%;
    height: 50px;   
}

.search__image {
    position: absolute;
    filter: brightness(0);
}

.header-titleMenu {
    width: 22rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-ittuaa-MuiInputAdornment-root {
    margin-right: 0!important;
}

.css-1wvjvpd {
    margin-left: -10px!important;
}

.css-i4bv87-MuiSvgIcon-root {
    font-size: 2rem!important;
}

.custom-autocomplete {
    border-color: transparent!important;
    outline: invert;
}
